.list-wrap {
  border-top: 1px solid #CCC;
  padding-top: 5px;
  margin-top: 10px;
}
.list-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
}
.list-item-time {
  float: right;
}
